body {
    margin: 0;
    padding:0;
    background-color: rgba(0, 0, 0, 0.923);
    font-family: sans-serif;
}
.caja_roja1 {
    background-color: red;
    grid-row:1 / 3;
    grid-column:1;
}
.caja_roja2 {
    background-color: red;
    grid-row: 1 / 6;
    grid-column: 2 /4;
}
.caja_azul3 {
    background-color: blue;
    grid-row: 1 ;
    grid-column: 4 /7;
}
.caja_amarilla4 {
    background-color:yellow;
    grid-row: 3/ 6;
    grid-column: 1;
}
.caja_blanco5 {
    background-color: white;
    grid-row: 2 / 5;
    grid-column: 4 / 7;
    text-align: right;
    padding: 30px;
}
.caja_blanco6 {
    background-color: white;
    grid-row: 5/6;
    grid-column: 4;
}
.caja_azul7 {
    background-color: blue;
    grid-row: 5/6;
    grid-column: 5;
}
.caja_amarilla8 {
    background-color:yellow;
    grid-row: 5/6;
    grid-column: 6;
}
#container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    height:100vh;
    padding:30px;
}
h1 {
    font-weight: bold;
    font-size: 80px;
}
/* @media ( max-width: 768px ){
    #containter {
        grid-template-columns: 1fr;
       
    }
    .caja_roja1 {
        grid-column:1;
        grid-row: 1;
    }
    .caja_roja2 {
        grid-row: 2;
        grid-column: 1;
    }
    .caja_azul3 {
        grid-row: 3;
    
        grid-column: 1;
    }
    .caja_amarilla4 {
        grid-row: 4;
        grid-column: 1;
    }
    .caja_blanco5 {
        grid-row:5 ;
    
        grid-column: 1;
        text-align: right;
        padding: 30px;
    }
    .caja_blanco6 {
        grid-row: 8/9;
        grid-column: 1;
    }
    .caja_azul7 {
        grid-row: 9/10;
        grid-column: 1;
    }
    .caja_amarilla8 {
        grid-row: 10/11;
        grid-column: 1;
    } 

}*/
@media (max-width: 768px){
    body {
        margin: 0;
        padding:0;
        background-color: rgba(0, 0, 0, 0.923);
        font-family: sans-serif;
    }
    .caja_roja1 {
        background-color: red;
        grid-row:1;
        grid-column:1;
    }
    .caja_roja2 {
        background-color: red;
        grid-row: 2;
        grid-column: 1;
    }
    .caja_azul3 {
        background-color: blue;
        grid-row: 3 ;
        grid-column: 1;
    }
    .caja_amarilla4 {
        background-color:yellow;
        grid-row: 4;
        grid-column: 1;
    }
    .caja_blanco5 {
        background-color: white;
        grid-row: 5;
        grid-column: 1;
        text-align: center;
        padding: 30px;
    }
    .caja_blanco6 {
        background-color: white;
        grid-row: 6;
        grid-column: 1;
    }
    .caja_azul7 {
        background-color: blue;
        grid-row: 7;
        grid-column: 1;
    }
    .caja_amarilla8 {
        background-color:yellow;
        grid-row: 8;
        grid-column: 1;
    }
    #container {
        padding: 30px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        height:100vh;
        padding:30px;
    }
    h1 {
        font-size: 60px;
        font-weight: bold;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1024px){
    body {
        margin: 0;
        padding:0;
        background-color: rgba(0, 0, 0, 0.923);
        font-family: sans-serif;
    }
    .caja_roja1 {
        background-color: red;
        grid-row:4/9;
        grid-column:2/4;
    }
    .caja_roja2 {
        background-color: red;
        grid-row: 4;
        grid-column: 1;
    }
    .caja_azul3 {
        background-color: blue;
        grid-row: 1 ;
        grid-column: 1 /4;
    }
    .caja_amarilla4 {
        background-color:yellow;
        grid-row: 3;
        grid-column: 3;
    }
    .caja_blanco5 {
        background-color: white;
        grid-row: 2;
        grid-column: 1/4;
        text-align: right;
        padding: 30px;
        padding-left: 30%;
  
    }
    .caja_blanco6 {
        background-color: white;
        grid-row: 3;
        grid-column: 1;
    }
    .caja_azul7 {
        background-color: blue;
        grid-row: 3;
        grid-column: 2;
    }
    .caja_amarilla8 {
        background-color:yellow;
        grid-row: 5/9;
        grid-column: 1;
    }
    #container {
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        height:100vh;
        padding:30px;
    }
    h1 {
        font-size: 60px;
        font-weight: bold;
    }


}